.dropdown-menu {
    background-color: #202020;
}

.container-fluid {
    width: 70px;
    background-color: #202020;
    box-shadow: 6px 0 0 rgb(146, 146, 24);
    position: fixed;
    transition: .3s;
    overflow: hidden;
}

.container-fluid:hover{
    width: 210px;
}

.button.dropdown-item:hover{
    background-color: #202020;
}

#btnbotao {
    border: none;
}

#btnbotao:hover{
    border: none;
}

#menuitem {
    background-color: #202020;
}

.menu_botao{
    margin: 0;
}