body{    
    margin-left: 270px;
    margin-top: 8%;
    height: 2px; 
    padding: 0 40px 0; 
    display: flex;  
    top: 10px;
}

.form-control:hover{
    font-size: 17px;
    color: rgb(83, 83, 83);
}
